.header {
    width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

    .logo {
    width: 150px;
    height: 75px;
    padding-top: 0.5rem;
  }


.header-right {
  display: flex;
  justify-content: end;

  .user-icon {
    width: 10%;
  }

  .sign-out-button {
    background-color: red;
    color: white;
    font-weight: 700;
    padding: 0.5rem;
    margin: 1rem;
  }
}
}